<aside class="control-sidebar">
    <div class="rpanel-title">
    <span class="pull-right btn btn-circle btn-danger">
      <i class="ion ion-close text-white" data-toggle="control-sidebar"></i>
    </span>
    </div>
    <ul class="nav nav-tabs control-sidebar-tabs">
        <li class="nav-item">
            <a href="#control-sidebar-home-tab" data-bs-toggle="tab" class="active">
                <i class="mdi mdi-message-text"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#control-sidebar-settings-tab" data-bs-toggle="tab">
                <i class="mdi mdi-playlist-check"></i>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <div class="flexbox">
                <a href="javascript:void(0)" class="text-grey"><i class="ti-more"></i></a>
                <p>Users</p>
                <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
            </div>
            <div class="lookup lookup-sm lookup-right d-none d-lg-block">
                <input type="text" name="s" placeholder="Search" class="w-p100">
            </div>
            <!-- Tu peux ajouter ici la liste des utilisateurs (avatars, infos, etc.) -->
        </div>

        <div class="tab-pane" id="control-sidebar-settings-tab">
            <div class="flexbox">
                <a href="javascript:void(0)" class="text-grey"><i class="ti-more"></i></a>
                <p>Todo List</p>
                <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
            </div>
            <!-- Tu peux ajouter ici la todo-list, les réglages, etc. -->
        </div>
    </div>
</aside>
<div class="control-sidebar-bg"></div>
