<footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">

        </ul>
    </div>
    &copy; {{ "now"|date("Y") }} <a href="{{ path('app_home') }}">Lecoqsportif</a>. All Rights Reserved.
</footer>
